@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);

@import url(https://file.myfontastic.com/Bnb4zqp5TThoR8DfWkVJfe/icons.css);

$color_blue: #1944A0;
$color_blueDark: #002E8B;
$color_yellow: #FFCF09;
$color_focus: #0366d6;
$color_shadow: #002D8B;
$color_border: #D0DCE6;
$color_inputbg: #F5F7FA;

$f_OS : 'Open Sans';
$f_RO: 'Roboto Condensed';

$max-width: 1200px;

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;

	user-select: none;

	font-family: $f_OS;
}

body{
	position: relative;
	min-height: 100vh;
}

a{
	text-decoration: none;
}

label{
	color: #666;
}

body{
	position: relative;
	width: 100%;
	min-height: 100vh;
}

div.current-row-form{

	label{
		color: $color_focus !important;
	}
}

input[type="email"]{
	color: blue !important;
}

button{

	&:hover{
		cursor: pointer;
	}
}

/* Loader */

div#c-loader{
	display: none;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 9999999;
    background-color: #2A80B9;

    justify-content: center;
    align-items: center;

    &:before{
    	position: absolute;
    	content: 'Se está procesando su solicitud, espere un momento...';
    	color: white;
    	font-weight: bold;
    	font-family: $f_OS;
    	font-size: 13px;
    	width: 100%;
    	height: auto;
    	left: 0;
    	bottom: 20px;
    	padding: 20px 50px;
    	text-align: center;
    	box-sizing: border-box;
    }

	img{
		position: absolute;
	    width: 100%;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    margin: auto;
	    max-width: 600px;

	    -webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
}

/* Notificaciones */

div.c-notificacion{
	position: fixed;
	right: 15px;
	bottom: 15px;	
	width: 380px;
    padding: 40px 30px 40px 100px;
    min-height: 50px;
    line-height: 22px;
    background: white;
    right: -600px;

    background-image: url(../images/common/msg-success.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: 25px center;

    -webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;

    z-index: 9999999;
}

div.notificacion-success{
	background-color: #FBFFF1;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
	border-left: 8px solid #a7d155;
}

div.notificacion-success:before {
  background: #a7d155;
  border-color: #8fb14f;
}

div.c-notificacion p{
	font-size: 13px;
    color: #666;
}

/* Fin de notificación */

div#c-modal-create-service{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 46, 139, 0.8);
	z-index: 999999;

	div.form-container{
		position: relative;
		display: block;
		margin: 60px auto 0px;
		max-width: 800px;
		width: 90%;
		height: auto;
		background-color: white;
		z-index: 2;
		border-radius: 8px;

		&:before{
			display: block;
			content: 'Crear Servicio';
			position: absolute;
		    right: 0;
		    top: -38px;
		    color: $color_blue;
		    font-weight: bold;
		    font-size: 13px;
		    text-transform: uppercase;
		    font-family: $f_OS;
		    letter-spacing: .5px;
		    padding: 8px 18px;
		    border-radius: 6px;
		    background-color: $color_yellow;

		    @media all and (max-width: 550px){
		    	font-size: 14px;
		    }
		}

		img.worker-left,
		img.worker-right{
			position: absolute;
			display: block;
			width: auto;
			height: 590px;
			z-index: 10;
			bottom: 0;
			top: 0;
			margin: auto;

			@media all and (max-width: 960px){
				display: none;
			}
		}

		img.worker-left{
			left: -197.77px;
		}

		img.worker-right{
			right: -179.56px;
		}

		div.form-container-inner{
			width: 100%;
			padding: 40px;

			@media all and (max-width: 550px){
				padding: 40px 30px;
			}

			div.f-row{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				width: 100%;
				margin-bottom: 18px;

				&.f-multiple-errors{

					@media all and (max-width: 1165px){
						margin-bottom: 18px !important;
					}
				}

				&.f-errors-web{

					@media all and (max-width: 1165px){
						display: none !important;
					}
				}

				&.f-errors-mobile span.msg-error{
					@media all and (min-width: 1165px){
						display: none !important;
					}
				}

				@media all and (max-width: 1165px){
					flex-wrap: wrap;
				}

				div.f-col-multiple{
					width: 100%;

					div.c-input{
						position: relative;
						vertical-align: middle;

						&.c-required{

							&::before{
								position: absolute;
								content: '(*)';
								right: 0;
								top: 4px;
								color: darken($color_border, 5);
								font-family: $f_OS;
								font-size: 10px;
							}
						}

						label{
							display: block;
							font-weight: bold;
							font-family: $f_OS;
							font-size: 13px;
							padding-bottom: 8px;
						}

						input, textarea{
							position: relative;
			  				display: block;
			  				width: 100%;
			  				padding: 10px;
			  				border-radius: 3px;
			  				border: 1px solid $color_border;
			  				background-color: $color_inputbg;
			  				font-size: 13px;

			  				transition: all .5s ease-in-out;

			  				&:focus{
			  					border-color: $color_focus;
			  					background-color: white;
			  				}
			  			}

			  			button{
			  				position: relative;
			  				display: inline-block;
						    overflow: hidden;
						    padding: 9px 15px;
						    font-size: 13px;
						    font-weight: 400;
						    text-align: center;
						    border: 1px solid transparent;
						    border-radius: 4px;
						    color: white;
						    transition: all .3s ease-in;

						    &.btnOk{
				  				background-color: $color_blue;

			  					&:hover{
			  						background-color: $color_blueDark;
			  						color: $color_yellow;
			  					}
			  				}

			  				&.btnCancel{
				  				color: #f16666;
			  					background-color: white;
			  					font-weight: bold;

			  					&:hover{
			  						color: darken(#f16666, 10);
			  						text-decoration: underline;
			  					}
				  			}
			  			}

			  			span.msg-error{
			  				position: relative;
			  				display: block;
			  				font-family: $f_RO !important;
			  				font-size: 13px;
			  				background-color: #D83436;
			  				color: white;
			  				padding: 0px;
			  				margin-top: 9px;
			  				letter-spacing: .15px;
			  				border-radius: 3px;

			  				&:not(:empty){
			  					padding: 10px;
			  				}

			  				span{
			  					font-family: $f_RO !important;
			  				}
			  			}
					}

					div.c-buttons{
						text-align: right;
					}
				}

				div.f-col{
					width: 50%;

					@media all and (max-width: 1165px){
						width: 100%;
					}

					div.c-input{
						position: relative;

						&.c-required{

							&::before{
								position: absolute;
								content: '(*)';
								right: 0;
								top: 4px;
								color: darken($color_border, 5);
								font-family: $f_OS;
								font-size: 10px;
							}
						}

						label{
							display: block;
							font-weight: bold;
							font-family: $f_OS;
							font-size: 13px;
							padding-bottom: 8px;
						}

						input, textarea{
							position: relative;
			  				display: block;
			  				width: 100%;
			  				padding: 10px;
			  				border-radius: 3px;
			  				border: 1px solid $color_border;
			  				background-color: $color_inputbg;
			  				font-size: 13px;

			  				transition: all .5s ease-in-out;

			  				&:focus{
			  					border-color: $color_focus;
			  					background-color: white;
			  				}
			  			}

			  			span.msg-error{
			  				position: relative;
			  				display: block;
			  				font-family: $f_RO;
			  				font-size: 13px;
			  				background-color: #D83436;
			  				color: white;
			  				padding: 0px;
			  				margin-top: 9px;
			  				letter-spacing: .15px;
			  				border-radius: 3px;

			  				&:not(:empty){
			  					padding: 10px;
			  				}
			  			}
					}
				}

				div.f-col1{
					padding-right: 10px;

					@media all and (max-width: 1165px){
						padding-right: 0px;
					}
				}

				div.f-col2{
					padding-left: 10px;

					@media all and (max-width: 1165px){
						padding-left: 0px;
						margin-top: 18px;
					}
				}
			}

			div.f-row:last-child{
				margin-bottom: 0px;
			}

			div.f-row-separator{
				position: relative;
				width: 100%;
				height: 33px;
				margin-top: 20px;
				margin-bottom: 20px;

				span{
					position: absolute;
					font-size: 13px;
					color: darken($color_border, 10);
					background-color: white;
					top: 6px;
					right: 10px;
					z-index: 10;
					padding: 0px 8px;
					font-family: $f_OS;
				}

				&:before{
					content: '';
					position: absolute;
					width: 100%;
					height: 1px;
					top: 50%;
					left: 0;
					margin-top: -0.5px;
					background-color: $color_border;
				}
			}

			div.f-row-separator:first-child{
				margin-top: 0px;
			}
		}

		div.form-shadow{
			display: block;
			position: absolute;
			width: 100%;
			height: 46px;
			bottom: -46px;
			background-image: url(../images/common/shadow.png);
			background-repeat: no-repeat;
			background-size: 100% auto;
			left: 0;
		}
	}
}