$color_blue: #1944A0;
$color_blueDark: #002E8B;
$color_yellow: #FFCF09;
$color_focus: #0366d6;
$color_shadow: #002D8B;
$color_border: #D0DCE6;
$color_inputbg: #F5F7FA;

$f_OS : 'Open Sans';
$f_RO: 'Roboto Condensed';

$max-width: 1200px;

div.container-forgotpass{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: absolute;
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow: hidden;

	background-color: $color_blue;
	background-image: url(../images/common/pattern.png);

	@media all and (max-width: 550px){
		background-size: 170px;
	}
}
