div.container-index {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1944A0;
  background-image: url(../images/common/pattern.png); }
  @media all and (max-width: 550px) {
    div.container-index {
      background-size: 170px; } }

div.c-col1,
div.c-col2 {
  width: 50%;
  height: 100%; }

div.c-col1 {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media all and (max-width: 880px) {
    div.c-col1 {
      display: none; } }
  div.c-col1 img.workers {
    position: relative;
    display: block;
    width: 80%;
    max-width: 700px;
    z-index: 5; }
    @media all and (max-width: 1170px) {
      div.c-col1 img.workers {
        width: 90%; } }

div.c-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  @media all and (max-width: 880px) {
    div.c-col2 {
      width: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  div.c-col2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 244px;
    background-color: #002E8B;
    z-index: 2; }
    @media all and (max-width: 880px) {
      div.c-col2::before {
        display: none; } }
  div.c-col2 div.c-svg {
    position: absolute;
    width: 244px;
    height: 1200px;
    left: 0;
    top: -100px;
    background-image: url(../images/index/svg-lat.png);
    background-size: 244px 1200px;
    background-repeat: no-repeat;
    z-index: 1; }
    @media all and (max-width: 880px) {
      div.c-col2 div.c-svg {
        display: none; } }
  div.c-col2 div.form-container {
    position: relative;
    display: block;
    max-width: 380px;
    padding: 40px;
    width: 80%;
    height: auto;
    margin-top: 100px;
    background-color: white;
    z-index: 2;
    border-radius: 4px; }
    @media all and (max-width: 550px) {
      div.c-col2 div.form-container {
        width: 90%;
        padding: 27px; } }
    @media all and (max-width: 880px) {
      div.c-col2 div.form-container {
        margin-top: 0px; } }
    div.c-col2 div.form-container img.logo-inside {
      display: none;
      width: 180px;
      margin: 20px auto 25px; }
      @media all and (max-width: 880px) {
        div.c-col2 div.form-container img.logo-inside {
          display: block; } }
    div.c-col2 div.form-container::before, div.c-col2 div.form-container::after {
      content: '';
      position: absolute; }
    div.c-col2 div.form-container::before {
      bottom: -46px;
      left: 0;
      width: 380px;
      height: 46px;
      background-image: url(../images/common/shadow.png);
      background-repeat: no-repeat; }
      @media all and (max-width: 880px) {
        div.c-col2 div.form-container::before {
          width: 100%;
          background-size: 100%; } }
    div.c-col2 div.form-container::after {
      width: 300px;
      height: 170px;
      top: -170px;
      background-image: url(../images/index/fast-work.png);
      background-repeat: no-repeat;
      z-index: -1; }
      @media all and (max-width: 880px) {
        div.c-col2 div.form-container::after {
          display: none; } }
    div.c-col2 div.form-container h1 {
      font-family: "Open Sans";
      color: #1944A0;
      font-size: 38px;
      letter-spacing: -2.5px;
      text-align: center;
      margin: 20px 0px 40px 0px;
      -webkit-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear; }
    div.c-col2 div.form-container div.c-input {
      position: relative;
      width: 100%;
      height: auto;
      margin-bottom: 20px;
      text-align: left; }
      div.c-col2 div.form-container div.c-input label {
        display: block;
        margin-bottom: 10px;
        font-size: 14px;
        color: #555;
        font-weight: 700;
        font-family: "Open Sans";
        margin-bottom: 8px;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
      div.c-col2 div.form-container div.c-input input[type="text"],
      div.c-col2 div.form-container div.c-input input[type="password"],
      div.c-col2 div.form-container div.c-input input[type="email"] {
        display: block;
        width: 100%;
        padding: 15px;
        border-radius: 3px;
        border: 2px solid #eee;
        font-size: 14px;
        -webkit-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out; }
        div.c-col2 div.form-container div.c-input input[type="text"]:focus,
        div.c-col2 div.form-container div.c-input input[type="password"]:focus,
        div.c-col2 div.form-container div.c-input input[type="email"]:focus {
          border-color: #0366d6; }
        @media all and (max-width: 550px) {
          div.c-col2 div.form-container div.c-input input[type="text"],
          div.c-col2 div.form-container div.c-input input[type="password"],
          div.c-col2 div.form-container div.c-input input[type="email"] {
            padding: 10px; } }
      div.c-col2 div.form-container div.c-input button {
        display: block;
        width: 100%;
        padding: 13px 18px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.4;
        text-align: center;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #fff;
        background-color: #1944A0;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        div.c-col2 div.form-container div.c-input button:hover {
          background-color: #1944A0;
          cursor: pointer; }
      div.c-col2 div.form-container div.c-input div.c-link a.link-fp {
        position: absolute;
        display: block;
        text-align: right;
        font-family: "Open Sans";
        font-size: 13px;
        color: #e74c3c;
        top: 0;
        right: 0;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; }
        @media all and (max-width: 500px) {
          div.c-col2 div.form-container div.c-input div.c-link a.link-fp {
            position: relative;
            margin-bottom: 12px;
            font-size: 11px; } }
        div.c-col2 div.form-container div.c-input div.c-link a.link-fp:hover {
          text-decoration: underline; }
      div.c-col2 div.form-container div.c-input.c-input:last-child {
        margin-bottom: 0px; }
      div.c-col2 div.form-container div.c-input.c-input-cc {
        display: block;
        margin-top: 15px;
        text-align: center !important; }
        div.c-col2 div.form-container div.c-input.c-input-cc a {
          position: relative !important;
          display: inline-block;
          font-weight: bold;
          font-family: "Open Sans";
          font-size: 13px;
          color: #0366d6; }
      @media all and (max-width: 550px) {
        div.c-col2 div.form-container div.c-input.c-input-password {
          margin-bottom: 10px; } }
      div.c-col2 div.form-container div.c-input.current-row-form label {
        color: #0366d6; }
    div.c-col2 div.form-container div.separador {
      position: relative;
      width: 100%;
      height: 20px;
      line-height: 20px;
      text-align: center; }
      div.c-col2 div.form-container div.separador::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        top: 50%;
        margin-top: -0.5px;
        background-color: #DDD;
        z-index: 1; }
      div.c-col2 div.form-container div.separador span {
        position: relative;
        display: inline-block;
        text-align: center;
        font-family: "Open Sans";
        font-size: 13px;
        color: #888;
        background-color: white;
        z-index: 25;
        padding: 0px 10px; }
        @media all and (max-width: 880px) {
          div.c-col2 div.form-container div.separador span {
            font-size: 11px; } }
