$color_blue: #1944A0;
$color_blueDark: #002E8B;
$color_yellow: #FFCF09;
$color_focus: #0366d6;
$color_shadow: #002D8B;
$color_border: #D0DCE6;
$color_inputbg: #F5F7FA;

$f_OS : 'Open Sans';
$f_RO: 'Roboto Condensed';

$max-width: 1200px;

div.container-index{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: absolute;
	width: 100%;
	height: auto;
	min-height: 100%;
	overflow: hidden;

	background-color: $color_blue;
	background-image: url(../images/common/pattern.png);

	@media all and (max-width: 550px){
		background-size: 170px;
	}
}

div.c-col1,
div.c-col2{
	width: 50%;
	height: auto;
	min-height: 100%;
}

div.c-col1{
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 10px;

	justify-content: flex-end;
	align-items: center;

	@media all and (max-width: 880px){
		display: none;
	}

	img.workers{
		position: relative;
		display: block;
		width: 80%;
		max-width: 700px;
		z-index: 5;

		@media all and (max-width: 1170px){
			width: 90%;
		}
	}
}

div.c-col2{
	display: flex;
	position: relative;

	align-items: center;
	justify-content: center;

	@media all and (max-width: 880px){
		width: 100%;
		align-items: center;
	}

	&::before{
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		left: 244px;
		background-color: $color_blueDark;
		z-index: 2;

		@media all and (max-width: 880px){
			display: none;
		}
	}

	div.c-svg{
		position: absolute;
		width: 244px;
		height: 1200px;
		left: 0;
		top: -100px;
		background-image: url(../images/index/svg-lat.png);
		background-size: 244px 1200px;
		background-repeat: no-repeat;
		z-index: 1;

		@media all and (max-width: 880px){
			display: none;
		}
	}

	div.form-container{
		display: block;
		position: relative;
		max-width: 380px;
		padding: 40px;
		width: 80%;
		height: auto;
		margin-top: 100px;
		background-color: white;
		z-index: 2;
		
		border-radius: 4px;

		@media all and (max-width: 880px){
			margin: 0px;
		}

		@media all and (max-width: 550px){
			width: 90%;
			padding: 27px;
			margin: 50px auto;
		}

		img.logo-inside{
			display: none;
			width: 200px;
			margin: 20px auto 30px;

			@media all and (max-width: 880px){
				display: block;
			}
		}

		&::before,
		&::after{
			content: '';
			position: absolute;
		}

		&::before{
			bottom: -46px;
			left: 0;
			width: 380px;
			height: 46px;

			background-image: url(../images/common/shadow.png);
			background-repeat: no-repeat;

			@media all and (max-width: 880px){
				width: 100%;
				background-size: 100%;
			}
		}

		&::after{
			width: 300px;
			height: 170px;
			top: -170px;
			background-image: url(../images/index/fast-work.png);
			background-repeat: no-repeat;
			z-index: -1;

			@media all and (max-width: 880px){
				display: none;
			}
		}

		h1{
			font-family: $f_OS;
			color: $color_blue;
		  	font-size: 38px;
		  	letter-spacing: -2.5px;
		 	text-align:center;
		  	margin: 20px 0px 40px 0px;
		  	transition:.2s linear;
		}

		div.c-input{
			position: relative;
  			width: 100%;
  			height: auto;
  			margin-bottom: 20px;
  			text-align: left;

  			label{
  				display: block;
			    margin-bottom: 10px;
			    font-size: 14px;
			    font-weight: 700;
			    font-family: $f_OS;
			    margin-bottom: 8px;

			    transition: all .5s ease-in-out;
  			}

  			label.required{
		    	position: relative;

		    	&::before{
		    		content: '(*)';
		    		position: absolute;
		    		background-color: red;
		    		width: 50px;
		    		height: 50px;
		    	}
		    }

  			input[type="text"],
  			input[type="password"],
  			input[type="email"]{
  				display: block;
  				width: 100%;
  				padding: 10px;
  				border-radius: 3px;
  				border: 1px solid $color_border;
  				background-color: $color_inputbg;
  				font-size: 14px;

  				transition: all .5s ease-in-out;

  				&:focus{
  					border-color: $color_focus;
  					background-color: white;
  				}

  				@media all and (max-width: 550px){
					padding: 10px;
				}
  			}

  			span.msg-error{
  				position: relative;
  				display: block;
  				font-family: $f_RO;
  				font-size: 13px;
  				background-color: #D83436;
  				color: white;
  				padding: 0px;
  				margin-top: 9px;
  				letter-spacing: .15px;
  				border-radius: 3px;

  				&:not(:empty){
  					padding: 10px;
  				}
  			}

  			button{
  				position: relative;
  				display: block;
  				overflow: hidden;
  				width: 100%;
			    padding: 15px 18px;
			    font-size: 14px;
			    font-weight: 400;
			    text-align: center;
			    border: 1px solid transparent;
			    border-radius: 4px;
			    color: white;
			    background-color: $color_blue;

			    transition: all .3s ease-in;

				&:hover{
					cursor: pointer;
					background-color: $color_blueDark;
				}
  			}

  			div.c-link{

  				a.link-fp{
	  				position: absolute;
	  				display: block;
	  				text-align: right;
	  				font-family: $f_OS;
	  				font-size: 13px;
	  				color: #D83436;
	  				top: 0;
	  				right: 0;

	  				transition: all .3s ease;

	  				@media all and (max-width: 500px){
	  					top: 2px;
	  					font-size: 11px;
	  				}

	  				&:hover{
	  					text-decoration: underline;
	  				}
	  			}
  			}

  			&.c-input:last-child{
	  			margin-bottom: 0px;
	  		}

	  		&.c-input-cc{
	  			position: relative;
	  			display: block;
	  			margin-top: 15px;
	  			text-align: center !important;

	  			@media all and (max-width: 550px){
	  				padding-bottom: 10px;
	  			}

	  			a{
	  				position: relative !important;
	  				display: inline-block;
	  				font-family: $f_OS;
	  				font-size: 13px;
	  				font-weight: bold;
	  				color: $color_focus;

	  				&:hover{
	  					text-decoration: underline;
	  				}
	  			}

	  			span{
	  				color: #DDD;
	  			}
	  		}

	  		&.c-input-password{

	  			@media all and (max-width: 550px){
	  				margin-bottom: 10px;
	  			}
	  		}
  		}

  		div.separador{
  			position: relative;
  			width: 100%;
  			height: 20px;
  			line-height: 20px;
  			text-align: center;

  			&::before{
  				position: absolute;
  				content: '';
  				width: 100%;
  				height: 1px;
  				left: 0;
  				top: 50%;
  				margin-top: -0.5px;
  				background-color: #DDD;
  				z-index: 1;
  			}

  			span{
  				position: relative;
  				display: inline-block;
  				text-align: center;
  				font-family: $f_OS;
  				font-size: 13px;
  				color: #888;
  				background-color: white;
  				z-index: 25;
  				padding: 0px 10px;

  				@media all and (max-width: 880px){
  					font-size: 11px;
  				}
  			}
  		}
	}
}