$color_blue: #1944A0;
$color_blueDark: #002E8B;
$color_yellow: #FFCF09;
$color_focus: #0366d6;
$color_shadow: #002D8B;
$color_border: #D0DCE6;
$color_inputbg: #F5F7FA;

$max-width: 1200px;

$f_OS : 'Open Sans';
$f_RO: 'Roboto Condensed';

body{
	background: #F4F4F4;
}

div.container-main{
	position: relative;
	width: 100%;
	min-height: 100vh;
	height: auto;
	background-color: #F4F4F4;

	header{
		position: fixed;
		width: 100%;
		height: 50px;
		background-color: $color_blue;
		z-index: 99999;

		div.header-inner{
			position: relative;
			margin: 0 auto;
			width: 100%;
			max-width: $max-width;
			height: 100%;

			img.logo{
				position: absolute;
				display: block;
				width: auto;
				height: 21px;
				top: 14px;
			}

			nav.nav-left,
			nav.nav-right{
				position: absolute;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				top: 0;
				
				width: auto;
				height: 100%;
				line-height: 50px;

				a{
					position: relative;
					display: inline-block;
					color: rgba(white, .7);
					font-size: 13px;
					font-family: $f_OS;
					font-weight: normal;
					padding: 0px 18px;

					transition: all .3s ease-in-out;

					b{
						letter-spacing: 2px;
					}

					&.active,
					&:hover{
						color: lighten($color_yellow, 10);
						background-color: $color_blueDark;
						cursor: pointer;
					}

					&.active{

						&:before{
							position: absolute;
							content: '';
							width: 100%;
							height: 2px;
							top: 0;
							left: 0;
							background-color: lighten($color_yellow, 10);
						}
					}
				}
			}

			nav.nav-left{
				left: 220px;
			}

			nav.nav-right{
				right: 0;
				text-align: right;
			}
		}
	}

	div.c-summary{
		position: relative;
		width: 100%;
	    height: 50px;
	    left: 0;
	    top: 50px;
	    border-bottom: 1px solid #e5e5e5;
	    background: rgba(255,255,255,0.6);

	    ul{
	    	display: block;
	    	text-align: center;
	    	line-height: 50px;

	    	li{
	    		display: inline-block;
			    margin: 0 20px 0 0;
			    line-height: 1;

	    		span.s-title{
	    			font-weight: bold;
	    			color: #444;
	    			font-family: $f_RO;
	    			font-size: 15px;
	    		}

	    		span.s-value{
	    			margin: 0 0 0 2px;
	    			color: #999;
	    			font-family: $f_RO;
	    			font-size: 15px;
	    		}
	    	}
	    }
	}

	div.c-content{
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;

		margin: 70px auto 10px;
		width: 90%;
		max-width: $max-width;
		height: auto;
		min-height: 100vh;

		justify-content: center;
		align-items: flex-start;

		div.c-information{
			width: 350px;
			height: auto;
			background-color: white;
			box-shadow: 0 1px 2px rgba(0,0,0,0.07);
			border-radius: 6px;
			margin-bottom: 80px;

			div.c-bloque{
				border-bottom: 1px solid #eee;
				padding: 20px 30px;

				span.i-subscription{
					padding: 3px 8px;
				    font-size: 11px;
				    font-weight: bold;
				    text-transform: uppercase;
				    color: #fff;
				    background: #BBB;
				    border-radius: 3px;

				    &.hasSubscription{
				    	background-color: #FFCE00 !important;
				    }
				}

				img.i-photo{
					margin: 20px auto 0px;
					display: block;
					width: 80px;
					height: 80px;
					border-radius: 80px;
				}

				span.i-name{
					display: block;
				    font-size: 21px;
				    font-weight: bold;
				    color: $color_focus;
				    font-family: $f_RO;
				    text-align: center;
				    margin-top: 10px;
				}

				span.i-from{
					display: block;
				    margin: 0 0 10px 0;
				    text-align: center;
				    font-size: 13px;
				    color: #999;
				    font-weight: normal;
				}

				p{
					margin: 0 0 15px 0;
				    line-height: 1.4;
				    text-align: center;
				    word-wrap: break-word;
				    font-family: $f_OS;
				    font-size: 13px;
				    color: #545454;
				}

				div.c-buttons{
					text-align: center;

					a{
						position: relative;
						display: inline-block;
					    padding: 8px 15px;
					    font-family: $f_RO;
					    font-size: 13px;
					    line-height: 17px;
					    letter-spacing: .7px;
					    border: none;
					    border-radius: 4px;
					    appearance: none;
					    color: white;

					    transition: all .3s ease;

					    &:hover{
					    	cursor: pointer;
					    }

					    &.btn1{
					    	background-color: $color_focus;

					    	&:hover{
					    		background-color: $color_blue;
					    	}
					    }

					    &.btn2{
					    	background-color: rgb(253,253,253);
					    	color: #666;
					    	border: 1px solid rgb(220,220,220);

					    	&:hover{
					    		border: 1px solid $color_focus;
					    		color: $color_focus;
					    	}
					    }
					}

					&.left{
						text-align: left;
					}
				}

				h3{
					position: relative;
					display: block;
					margin: 0 0 10px 0;
				    font-size: 15px;
				    font-weight: bold;
				    letter-spacing: .02em;
				    text-transform: uppercase;
				    color: #777;
				    padding-left: 25px;
				    font-family: $f_RO;
				    margin-bottom: 20px;

				    span{
				    	position: absolute;
				    	display: block;
				    	top: -2px;
				    	left: 0;
				    	font-size: 19px;
				    }
				}

				ul.i-skills{
					width: 100%;
					text-align: center;
					list-style: none;

					li{
						display: inline-block;
					    padding: 6px 8px;
					    border: 1px solid #ddd;
					    color: #444;
					    font-family: $f_RO;
					    border-radius: 4px;
					    font-size: 13px;
					    letter-spacing: .5px;
					    margin-bottom: 4px;
					}
				}

				div.form-container{
					position: relative;
					display: block;
					width: 100%;
					height: auto;
					background-color: white;
					z-index: 2;
					border-radius: 8px;

					div.form-container-inner{
						width: 100%;

						div.f-row{
							width: 100%;

							div.f-col{
								width: 100%;

								div.c-input{
									position: relative;

									label{
										display: block;
										font-weight: bold;
										font-family: $f_RO;
										font-size: 13px;
										padding-bottom: 8px;
										letter-spacing: .3px;
										color: rgba(black, .5);
									}

									.input{
										position: relative;
						  				display: block;
						  				width: 100%;
						  				padding: 8px;
						  				border-radius: 3px;
						  				border: 1px solid $color_border;
						  				background-color: $color_inputbg;
						  				font-size: 13px;
						  				font-family: $f_RO;
						  				letter-spacing: .5px;
						  				margin-bottom: 10px;

						  				& option{
						  					font-family: $f_RO;
						  					letter-spacing: .5px;
						  				}

						  				transition: all .5s ease-in-out;

						  				&:focus{
						  					border-color: $color_focus;
						  					background-color: white;
						  				}
						  			}

						  			span.msg-error{
						  				position: relative;
						  				display: block;
						  				font-family: $f_RO;
						  				font-size: 13px;
						  				background-color: #D83436;
						  				color: white;
						  				padding: 0px;
						  				margin-top: 9px;
						  				letter-spacing: .15px;
						  				border-radius: 3px;

						  				&:not(:empty){
						  					padding: 10px;
						  				}
						  			}
								}
							}
						}
					}
				}
			}
		}

		div.c-services{
			width: calc(100% - 350px);
			height: auto;
			min-height: 100%;
			padding: 0px 0px 0px 30px;

			div.c-services-inner{
				width: 100%;
				height: auto;

				div.service{
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					width: 100%;
					height: auto;
					background-color: white;
					border-radius: 6px;
					overflow: hidden;
					border: 1px solid #ddd;
					margin-bottom: 10px;

					transition: all .3s ease;

					&:hover{

						div.cs-col1{

							div.s-info-anuncio{
								opacity: 1;
							}
						}
					}

					div.cs-col1{
						position: relative;
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						width: 200px;
						height: auto;
						background-color: $color_blueDark;

						justify-content: center;
						align-items: center;
					
						img{
							position: relative;
							width: 100%;
							height: 100%;
							z-index: 90;
						}

						div.s-info-anuncio{
							opacity: 0;
							position: absolute;
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							width: 100%;
							height: 100%;
							background-color: rgba($color_blueDark, .8);
							z-index: 9999;

							justify-content: center;
							align-items: center;

							transition: all .3s ease;

							a{
								position: relative;
							    display: inline-block;
							    padding: 8px 15px;
							    font-family: "Roboto Condensed";
							    font-size: 13px;
							    line-height: 17px;
							    letter-spacing: .7px;
							    border: none;
							    border-radius: 4px;
							    appearance: none;
							    color: white;
							    transition: all .3s ease;
							    background-color: $color_yellow;
							    color: $color_blueDark;
							    font-weight: bold;
							}
						}
					}

					div.cs-col2{
						width: calc(100% - 200px);
						padding: 20px 20px 20px 30px;

						span.sa-title{
							display: block;
							font-size: 25px;
							font-family: $f_RO;
							color: $color_focus;
							font-weight: bold;
							padding-bottom: 6px;
						}

						span.sa-worker{
							font-size: 14px;
							color: #7f7f7f;
							font-family: $f_RO;
							color: $color_focus;
						}

						span.sa-location{
							font-family: $f_RO;
							font-size: 14px;
							color: #7f7f7f;
						}

						p{
							display: block;
							font-size: 13px;
							line-height: 21px;
							color: #545454;
							padding: 8px 0px;
							font-family: $f_OS;
						}

						span.sa-time{
							display: block;
							text-align: right;
							font-size: 13px;
						    color: #7f7f7f;
						    font-family: $f_RO;
						}
					}
				}
			}
		}
	}
}

footer{
	position: relative;
	width: 100%;
	height: auto;
	margin-top: 250px;

	& > img{
		display: block;
		position: absolute;
		width: 180px;
		left: 0;
		right: 0;
		top: -150px;
		margin: 0 auto;
		z-index: 10;

		@media all and (max-width: 958px){
			top: -170px;
		}
	}

	div.footer-cderechos{
		position: relative;
		width: 100%;
		height: auto;
		background-color: $color_blueDark;

		@media all and (max-width: 550px){
			&{
				background-image: none;
			}
		}

		div.footer-cderechos-svg-top{
			position: absolute;
	    	width: 100%;
		    height: 40px;
		    background-image: url(../images/common/footer_cderechos_top.svg);
		    background-size: 100% 40px;
		    top: -40px;
		}

		div.fcderechos-inner{
			display: flex;
			margin: 0px auto;
			width: 100%;
			padding: 50px 15px 40px 15px;
			height: auto;
			max-width: $max_width;

			flex-direction: row;

			@media all and (max-width: 958px){
				&{
					flex-direction: column;
				}
			}

			span{
				position: relative;
				display: block;
				width: 50%;
				font-size: 13px;
				color: #DDDEDE;
				font-family: $f_RO;
				text-align: left;

				@media all and (max-width: 958px){
					&{
						width: 100%;
						text-align: center !important;
					}

					&:first-child{
						padding-bottom: 8px;
						padding-left: 0px !important;
					}

					&:last-child{
						padding-right: 0px !important;
					}

				}

				&:first-child{
					text-align: left;
					padding-left: 30px;
				}

				&:last-child{
					text-align: right;
					padding-right: 30px;
				}

				a{
					color: white;
					font-weight: bold;
					font-family: $f_RO;
					color: $color_yellow;

					&:hover{
						text-decoration: underline;
					}
				}
			}
		}
	}
}

/* Modales */

div#c-modal-create-service{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 46, 139, 0.8);
	z-index: 999999;

	div.form-container{
		position: absolute;
		display: block;
		max-width: 780px;
		width: 90%;
		height: auto;
		left: 0;
		right: 0;
		top: -100%;
		margin: auto;
		background-color: white;
		z-index: 2;
		border-radius: 8px;

		&.show{
			top: 60px;
			transition-delay: 5s;
			transition: all .8s ease;
		}

		&:before{
			display: block;
			content: 'Crear Servicio';
			position: absolute;
		    right: 0;
		    top: -38px;
		    color: $color_blue;
		    font-weight: bold;
		    font-size: 13px;
		    text-transform: uppercase;
		    font-family: $f_OS;
		    letter-spacing: .5px;
		    padding: 8px 18px;
		    border-radius: 6px;
		    background-color: $color_yellow;

		    @media all and (max-width: 550px){
		    	font-size: 14px;
		    }
		}

		div.form-container-inner{
			position: relative;
			width: 100%;
			padding: 40px;

			@media all and (max-width: 550px){
				padding: 40px 30px;
			}

			div.f-row{
				position: relative;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				width: 100%;
				margin-bottom: 18px;
				z-index: 9;

				&.f-multiple-errors{

					@media all and (max-width: 1165px){
						margin-bottom: 18px !important;
					}
				}

				&.f-errors-web{

					@media all and (max-width: 1165px){
						display: none !important;
					}
				}

				&.f-errors-mobile span.msg-error{
					@media all and (min-width: 1165px){
						display: none !important;
					}
				}

				@media all and (max-width: 1165px){
					flex-wrap: wrap;
				}

				div.f-col-multiple{
					width: 100%;

					div.c-input{
						position: relative;
						vertical-align: middle;

						&.c-required{

							&::before{
								position: absolute;
								content: '(*)';
								right: 0;
								top: 4px;
								color: darken($color_border, 5);
								font-family: $f_OS;
								font-size: 10px;
							}
						}

						label{
							display: block;
							font-weight: bold;
							font-family: $f_OS;
							font-size: 13px;
							padding-bottom: 8px;
						}

						input, .input, textarea{
							position: relative;
			  				display: block;
			  				width: 100%;
			  				padding: 10px;
			  				border-radius: 3px;
			  				border: 1px solid $color_border;
			  				background-color: $color_inputbg;
			  				font-size: 13px;

			  				transition: all .5s ease-in-out;

			  				&:focus{
			  					border-color: $color_focus;
			  					background-color: white;
			  				}
			  			}

			  			button{
			  				position: relative;
			  				display: inline-block;
						    overflow: hidden;
						    padding: 9px 15px;
						    font-size: 13px;
						    font-weight: 400;
						    text-align: center;
						    border: 1px solid transparent;
						    border-radius: 4px;
						    color: white;
						    transition: all .3s ease-in;

						    &.btnOk{
				  				background-color: $color_blue;

			  					&:hover{
			  						background-color: $color_blueDark;
			  						color: $color_yellow;
			  					}
			  				}

			  				&.btnCancel{
				  				color: #f16666;
			  					background-color: white;
			  					font-weight: bold;

			  					&:hover{
			  						color: darken(#f16666, 10);
			  						text-decoration: underline;
			  					}
				  			}
			  			}

			  			span.msg-error{
			  				position: relative;
			  				display: block;
			  				font-family: $f_RO !important;
			  				font-size: 13px;
			  				background-color: #D83436;
			  				color: white;
			  				padding: 0px;
			  				margin-top: 9px;
			  				letter-spacing: .15px;
			  				border-radius: 3px;

			  				&:not(:empty){
			  					padding: 10px;
			  				}

			  				span{
			  					font-family: $f_RO !important;
			  				}
			  			}
					}

					div.c-buttons{
						text-align: right;
					}
				}

				div.f-col{
					width: 50%;

					@media all and (max-width: 1165px){
						width: 100%;
					}

					div.c-input{
						position: relative;

						&.c-required{

							&::before{
								position: absolute;
								content: '(*)';
								right: 0;
								top: 4px;
								color: darken($color_border, 5);
								font-family: $f_OS;
								font-size: 10px;
							}
						}

						label{
							display: block;
							font-weight: bold;
							font-family: $f_OS;
							font-size: 13px;
							padding-bottom: 8px;
						}

						input, .input, textarea{
							position: relative;
			  				display: block;
			  				width: 100%;
			  				padding: 10px;
			  				border-radius: 3px;
			  				border: 1px solid $color_border;
			  				background-color: $color_inputbg;
			  				font-size: 13px;

			  				transition: all .5s ease-in-out;

			  				&:focus{
			  					border-color: $color_focus;
			  					background-color: white;
			  				}
			  			}

			  			span.msg-error{
			  				position: relative;
			  				display: block;
			  				font-family: $f_RO;
			  				font-size: 13px;
			  				background-color: #D83436;
			  				color: white;
			  				padding: 0px;
			  				margin-top: 9px;
			  				letter-spacing: .15px;
			  				border-radius: 3px;

			  				span{
			  					font-family: $f_RO !important;
			  				}

			  				&:not(:empty){
			  					padding: 10px;
			  				}
			  			}
					}
				}

				div.f-col1{
					padding-right: 10px;

					@media all and (max-width: 1165px){
						padding-right: 0px;
					}
				}

				div.f-col2{
					padding-left: 10px;

					@media all and (max-width: 1165px){
						padding-left: 0px;
						margin-top: 18px;
					}
				}
			}

			div.f-row:last-child{
				margin-bottom: 0px;
			}

			div.f-row-separator{
				position: relative;
				width: 100%;
				height: 33px;
				margin-top: 20px;
				margin-bottom: 20px;

				span{
					position: absolute;
					font-size: 13px;
					color: darken($color_border, 10);
					background-color: white;
					top: 6px;
					right: 10px;
					z-index: 10;
					padding: 0px 8px;
					font-family: $f_OS;
				}

				&:before{
					content: '';
					position: absolute;
					width: 100%;
					height: 1px;
					top: 50%;
					left: 0;
					margin-top: -0.5px;
					background-color: $color_border;
				}
			}

			div.f-row-separator:first-child{
				margin-top: 0px;
			}
		}

		img.form-shadow{
			display: block;
			position: absolute;
			width: calc(100% + 68px);
			height: auto;
			bottom: -31px;
			left: -33px;
			z-index: 2;
		}
	}
}

/* Suscripción------------------------------------------------------------------------- */

div#c-modal-subscription{
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 46, 139, 0.8);
	z-index: 999999;

	div.form-container{
		position: absolute;
		display: block;
		max-width: 800px;
		width: 90%;
		top: -100%;
		left: 0;
		right: 0;
		margin: auto;
		height: auto;
		background-color: white;
		z-index: 2;
		border-radius: 8px;

		&.show{
			top: 60px;
			transition-delay: 5s;
			transition: all .8s ease;
		}

		&:before{
			display: block;
			content: 'Suscríbete';
			position: absolute;
		    right: 0;
		    top: -38px;
		    color: $color_blue;
		    font-weight: bold;
		    font-size: 13px;
		    text-transform: uppercase;
		    font-family: $f_OS;
		    letter-spacing: .5px;
		    padding: 8px 18px;
		    border-radius: 6px;
		    background-color: $color_yellow;

		    @media all and (max-width: 550px){
		    	font-size: 14px;
		    	z-index: 15;
		    }
		}

		div.form-container-inner{
			position: relative;
			width: 100%;
			padding: 40px;
			z-index: 10;

			@media all and (max-width: 550px){
				padding: 40px 30px;
			}

			div.f-row{
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				width: 100%;
				margin-bottom: 18px;
				z-index: 9;

				&.f-row-buttons{
					margin-bottom: 0 !important;
				}

				&.f-errors-web{

					@media all and (max-width: 1165px){
						display: none !important;
					}
				}

				&.f-errors-mobile span.msg-error{
					@media all and (min-width: 1165px){
						display: none !important;
					}
				}

				@media all and (max-width: 1165px){
					flex-wrap: wrap;
				}

				div.f-col-multiple{
					width: 100%;

					div.c-input{
						position: relative;

						&.c-required{

							&::before{
								position: absolute;
								content: '(*)';
								right: 0;
								top: 4px;
								color: darken($color_border, 5);
								font-family: $f_OS;
								font-size: 10px;
							}
						}

						label{
							display: block;
							font-weight: bold;
							font-family: $f_OS;
							font-size: 13px;
							padding-bottom: 8px;
						}

						input, select{
							position: relative;
			  				display: block;
			  				width: 100%;
			  				padding: 10px;
			  				border-radius: 3px;
			  				border: 1px solid $color_border;
			  				background-color: $color_inputbg;
			  				font-size: 13px;

			  				transition: all .5s ease-in-out;

			  				&:focus{
			  					border-color: $color_focus;
			  					background-color: white;
			  				}
			  			}

			  			button{
			  				position: relative;
			  				display: inline-block;
						    overflow: hidden;
						    padding: 9px 15px;
						    font-size: 13px;
						    font-weight: 400;
						    text-align: center;
						    border: 1px solid transparent;
						    border-radius: 4px;
						    color: white;
						    transition: all .3s ease-in;

						    &.btnOk{
				  				background-color: $color_blue;

			  					&:hover{
			  						background-color: $color_blueDark;
			  						color: $color_yellow;
			  					}
			  				}

			  				&.btnCancel{
				  				color: #f16666;
			  					background-color: white;
			  					font-weight: bold;

			  					&:hover{
			  						color: darken(#f16666, 10);
			  						text-decoration: underline;
			  					}
				  			}
			  			}

			  			span.msg-error{
			  				position: relative;
			  				display: block;
			  				font-family: $f_RO !important;
			  				font-size: 13px;
			  				background-color: #D83436;
			  				color: white;
			  				padding: 0px;
			  				margin-top: 9px;
			  				letter-spacing: .15px;
			  				border-radius: 3px;

			  				&:not(:empty){
			  					padding: 10px;
			  				}

			  				span{
			  					font-family: $f_RO !important;
			  				}
			  			}

			  			div.c-plan{

			  				ul.list-plans{
			  					display: flex;
			  					list-style: none;

			  					justify-content: center;
			  					flex-wrap: wrap;

			  					li{
			  						display: block;
			  						width: 140px;
			  						height: auto;
			  						margin: 6px;
			  						border: 2px solid #d0dce6;
			  						border-radius: 6px;
			  						text-align: center;

			  						transition: all .3s ease-in-out;

			  						@media all and (max-width: 1114px){
			  							width: 130px;
			  						}

			  						@media all and (max-width: 966px){
			  							width: 170px;
			  						}

			  						@media all and (max-width: 550px){
			  							width: 100%;
			  						}

			  						&.selected{
			  							border-color: $color_focus;
			  							cursor: pointer;

			  							span.type-plan{
			  								background-color: $color_focus;
			  								color: white;
			  							}

			  							span.current-price{
			  								color: $color_focus;
			  							}
			  						}

			  						&:hover{
			  							border-color: $color_focus;
			  							cursor: pointer;

			  							span.type-plan{
			  								background-color: $color_focus;
			  								color: white;
			  							}

			  							span.current-price{
			  								color: $color_focus;
			  							}
			  						}

			  						span{
			  							font-family: $f_RO;
			  							display: block;
			  							transition: all .3s ease-in-out;
			  						}

			  						span.type-plan{
			  							padding: 15px;
			  							background-color: #d0dce6;
			  							color: #222;
			  							font-size: 24px;
			  							font-weight: bold;
			  							letter-spacing: -0.5px;
			  							margin-bottom: 5px;

			  							@media all and (max-width: 550px){
			  								font-size: 21px;
			  							}
			  						}

			  						span.old-price{
			  							color: #afc3d4;
			  							font-size: 14px;
			  							padding-top: 2px;
			  							padding-bottom: 15px;

			  							@media all and (max-width: 550px){
			  								font-size: 13px;
			  							}

			  							i{
			  								font-family: $f_RO;
			  								font-style: normal;
			  								font-size: 14px;
			  								text-decoration: line-through;
			  							}

			  						}

			  						span.current-price{
			  							padding-top: 10px;
			  							font-size: 25px;
			  							font-weight: lighter;

			  							@media all and (max-width: 550px){
			  								font-size: 21px;
			  							}
			  						}
			  					}
			  				}
			  			}
					}

					div.c-buttons{
						text-align: right;
					}
				}

				div.f-col{
					width: 50%;

					@media all and (max-width: 1165px){
						width: 100%;
					}

					div.c-input{
						position: relative;

						&.c-required{

							&::before{
								position: absolute;
								content: '(*)';
								right: 0;
								top: 4px;
								color: darken($color_border, 5);
								font-family: $f_OS;
								font-size: 10px;
							}
						}

						label{
							display: block;
							font-weight: bold;
							font-family: $f_OS;
							font-size: 13px;
							padding-bottom: 8px;
						}

						input, select{
							position: relative;
			  				display: block;
			  				width: 100%;
			  				padding: 10px;
			  				border-radius: 3px;
			  				border: 1px solid $color_border;
			  				background-color: $color_inputbg;
			  				font-size: 13px;

			  				transition: all .5s ease-in-out;

			  				&:focus{
			  					border-color: $color_focus;
			  					background-color: white;
			  				}
			  			}

			  			span.msg-error{
			  				position: relative;
			  				display: block;
			  				font-family: $f_RO !important;
			  				font-size: 13px;
			  				background-color: #D83436;
			  				color: white;
			  				padding: 0px;
			  				margin-top: 9px;
			  				letter-spacing: .15px;
			  				border-radius: 3px;

			  				&:not(:empty){
			  					padding: 10px;
			  				}

			  				span{
			  					font-family: $f_RO !important;
			  				}
			  			}
					}
				}

				div.f-col1{
					padding-right: 10px;

					@media all and (max-width: 1165px){
						padding-right: 0px;
					}
				}

				div.f-col2{
					padding-left: 10px;

					@media all and (max-width: 1165px){
						padding-left: 0px;
						margin-top: 18px;
					}
				}
			}
		}

		img.form-shadow{
			display: block;
			position: absolute;
			width: calc(100% + 70px);
			height: auto;
			bottom: -31px;
			left: -35px;
			z-index: 2;
		}
	}
}
